{# Réseaux sociaux #}
<div class="card mb-4">
    <div class="card-header bg-light">
        <h3 class="h5 mb-0">
            <i class="fas fa-share-alt me-2"></i>{{ 'card.social.title'|trans }}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.linkedin, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.linkedin, {'attr': {'class': 'form-control' ~ (form.linkedin.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if form.linkedin.vars.errors|length > 0 %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.linkedin) }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.instagram, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.instagram, {'attr': {'class': 'form-control' ~ (form.instagram.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if form.instagram.vars.errors|length > 0 %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.instagram) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.tiktok, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.tiktok, {'attr': {'class': 'form-control' ~ (form.tiktok.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if form.tiktok.vars.errors|length > 0 %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.tiktok) }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.facebook, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.facebook, {'attr': {'class': 'form-control' ~ (form.facebook.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if form.facebook.vars.errors|length > 0 %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.facebook) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.x, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.x, {'attr': {'class': 'form-control' ~ (form.x.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if form.x.vars.errors|length > 0 %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.x) }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.bluebirds, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.bluebirds, {'attr': {'class': 'form-control' ~ (form.bluebirds.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if form.bluebirds.vars.errors|length > 0 %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.bluebirds) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.snapchat, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.snapchat, {'attr': {'class': 'form-control' ~ (form.snapchat.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if form.snapchat.vars.errors|length > 0 %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.snapchat) }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.planity, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.planity, {'attr': {'class': 'form-control' ~ (form.planity.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
                {% if form.planity.vars.errors|length > 0 %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.planity) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="mb-3">
            {{ form_label(form.other, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.other, {'attr': {'class': 'form-control' ~ (form.other.vars.errors|length > 0 ? ' is-invalid' : '')}}) }}
            {% if form.other.vars.errors|length > 0 %}
                <div class="invalid-feedback d-block">
                    {{ form_errors(form.other) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
