{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'card.create.title'|trans }} - Hermio{% endblock %}

{% block page_title %}{{ 'card.create.title'|trans }}{% endblock %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-header card-header-gradient">
        <h1 class="h3 mb-0">
            <i class="fas fa-plus me-2"></i>{{ 'card.create.title'|trans }}
        </h1>
    </div>
    <div class="card-body">
        {# Quota Information #}
        {% if quotaLimit %}
            <div class="alert alert-info mb-4">
                <i class="fas fa-info-circle me-2"></i>{{ 'card.quota.info'|trans }}:
                {{ currentUsage }} / {{ quotaLimit }} {{ 'account.quota.cards'|trans }}
            </div>
        {% endif %}

        {% include 'card/_form_flash_messages.html.twig' %}

        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

            {% include 'card/_form_basic_info.html.twig' %}

            {% include 'card/_form_social_networks.html.twig' %}

            {% include 'card/_form_actions.html.twig' %}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

